@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background:#fdfafa;
  --color-primary:#CDA29B ;
  --color-secondary: #59453c;
  --color-ternary: #F7F1F1;
  --color-text-primary: #F3E9E7;
  --color-text-secondary: #908684;
}
*{
  font-family: "Inter", sans-serif;
}